.about-wrapper {
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
  align-items: center;
}

.img-left {
  height: 50%;
}

.img-left img {
  width: 90%;
  border-radius: 20px;
  height: 255px;
  object-fit: cover;
  object-position: 0% 40%;
}

.info-right {
  margin: 1rem 2rem;
  text-align: left;
}

.info-right h1 {
  font-size: 2.25rem;
}

.info-right p {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 60%);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
  .about-wrapper {
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    margin: 5rem auto 2rem auto;
    justify-content: space-between;
  }

  .img-left {
    width: 45%;
    margin-left: 2rem;
    height: inherit;
  }

  .img-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 50%;
    border-radius: 20px;
  }

  .info-right {
    width: 100%;
    margin-right: 2rem;
  }
}
